@import "~flickity/css/flickity.css";
@import "~flickity-fade/flickity-fade.css";

.slider-type {
  max-height: 200px;
}

.image-container {
  width: 100%;
  height: 200px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-image {
  display: block;
  height: 200px;
  min-width: 150px;
  max-width: 100%;
  margin-#{$right}: 10px;
  top: 50%;
  transform: translateY(-50%)
}

.cmb2_select {
  width: 100%;
}

.pmpr-switch .cmb-td {
  position: relative;
  min-height: 14px;
}

.pmpr-switch input {
  display: none;
}

.pmpr-switch label .cmb2-metabox-description {
  display: block;
  margin-top: 34px;
}

.pmpr-switch input + label:before,
.pmpr-switch input + label:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  #{$right}: 1px;
  content: "";
  width: 44px;
  height: 22px;
}

.pmpr-switch input + label:before {
  left: 1px;
  background-color: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 60px;
  transition: background 0.4s;
}

.pmpr-switch input + label:after {
  width: 22px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #ddd;
  transition: margin 0.4s;
}

.pmpr-switch input:checked + label:before {
  background-color: #0098d7;
}

.pmpr-switch input:checked + label:after {
  margin-#{$right}: 22px;
}

#postbox-container-1 #side-sortables .pmpr-box-form .pmpr-switch .cmb-td {
  min-height: 32px;
}

#postbox-container-1 #side-sortables .pmpr-box-form .pmpr-switch .cmb2-metabox-description {
  content: "";
  display: inline-block;
  height: 45px;
}

.block-editor #side-sortables .pmpr-box-form .pmpr-switch .cmb2-metabox-description {
  display: inline-block;
  padding-top: 0;
}

.pmpr-switch .cmb2-list li {
  position: relative;
}

.pmpr-switch .cmb2-list input + label {
  display: block;
  line-height: 24px;
  margin-#{$right}: 52px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li.requirement-row .requirement-header .requirement-actions .requirement-action .pmpr-switch {
  position: relative;
}

.pmpr-requirements-sequential.pmpr-switch input + label:before,
.pmpr-requirements-sequential.pmpr-switch input + label:after {
  top: 2px;
}

.pmpr-switch.pmpr-switch-small label {
  width: 40px;
}

.pmpr-switch.pmpr-switch-small input + label:before,
.pmpr-switch.pmpr-switch-small input + label:after {
  width: 36px;
  height: 18px;
}

.pmpr-switch.pmpr-switch-small input + label:after {
  width: 18px;
}

.pmpr-switch.pmpr-switch-small input:checked + label:after {
  margin-#{$right}: 18px;
}

.pmpr-page .pmpr-switch input + label:before,
.pmpr-page .pmpr-switch input + label:after {
  top: 22px;
}

.pmpr-page .nav-tab .dashicons {
  vertical-align: middle;
  margin-#{$right}: 2px;
}

.pmpr-page input[name="submit-cmb"] {
  float: $left;
  margin-#{$left}: 12px;
}

.pmpr-page .pmpr-switch input + label:before,
.pmpr-page .pmpr-switch input + label:after {
  top: 4px;
  #{$left}: auto;
  #{$right}: 0;
}

.pmpr-page .pmpr-switch:not(.cmb-type-multicheck) .cmb2-metabox-description {
  display: inline-block;
  margin-#{$right}: 50px;
  margin-top: 7px;
}

.pmpr-page .pmpr-switch .cmb2-list input + label:before,
.pmpr-page .pmpr-switch .cmb2-list input + label:after {
  top: 0;
  #{$left}: auto;
  #{$right}: 0;
}

.pmpr-page .postbox .hndle .dashicons {
  height: 20px;
  line-height: 20px;
  margin-#{$right}: 6px;
  margin-top: -3px;
}

.pmpr-page .cmb-tabs-wrap .cmb-tabs .cmb-tab .cmb-tab-icon {
  margin-r#{$right}: 2px;
  opacity: 0.4;
}

.pmpr-page .cmb-tabs-wrap .cmb-tabs .cmb-tab.active .cmb-tab-icon {
  opacity: 0.8;
}

.pmpr-page .cmb-type-button .cmb-td p.cmb2-metabox-description,
.pmpr-page .cmb-type-multi-buttons .cmb-td p.cmb2-metabox-description {
  margin-top: -1em;
  margin-bottom: 1em;
  color: #444;
  font-style: normal;
}

.pmpr-page .cmb-type-multi-buttons .button + .button {
  margin-#{$right}: 10px;
}

.pmpr-page .button .dashicons {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-top;
  margin: 0 2px 0 0;
}

.pmpr-page input[name="submit-cmb"] {
  float: $right;
  margin-#{$right}: 12px;
}

.pmpr-page .nav-tab .dashicons {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-top: -2px;
  margin-#{$left}: 2px;
}

.pmpr-page.cmb2-options-page {
  max-width: 100%;
}

.pmpr-page.cmb2-options-page .cmb2-metabox > .cmb-row {
  border: none;
  box-shadow: none;
}

.pmpr-page.cmb2-options-page .cmb2-metabox > .cmb-row:not(:first-of-type) {
  border-top: 1px solid #e9e9e9;
}

.pmpr-page .postbox h2.hndle {
  background: #fafafa;
  color: #23282d;
}

.pmpr-page.cmb2-options-page .cmb-row.cmb-type-title {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9 !important;
  margin: 0 -12px;
}

.pmpr-page.cmb2-options-page .cmb-tabs-wrap .cmb2-wrap .cmb2-metabox > .cmb-row.cmb-type-title {
  margin-top: -1px;
  margin-#{$right}: -11px;
}

.pmpr-page.cmb2-options-page .cmb2-wrap .cmb-type-title .cmb2-metabox-title {
  font-size: 14px;
  text-transform: none;
}

.pmpr-page.cmb2-options-page .cmb2-metabox > .cmb-row:first-child.cmb-type-title {
  border-top: 0;
  margin-top: -12px;
}

.pmpr-page .cmb-row.cmb-type-title .cmb2-metabox-title {
  margin-top: 0;
  padding: 8px 0 0 0;
}

.disabled {
  pointer-events: none;
  color: rgb(84, 84, 84);
  cursor: default;
}

.pmpr-page input[name="submit-cmb"], .pmpr-page input[name="reset-cmb"] {
  float: $left;
}

.pmpr-list-table {
  color: #555;
}

.pmpr-list-table > .cmb2-metabox > .cmb-row {
  padding: 10px !important;
  font-size: 13px;
}

.pmpr-list-table > .cmb2-metabox > .cmb-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.pmpr-list-table > .cmb2-metabox > .cmb-row > .cmb-th > label {
  font-weight: 600;
  color: #555;
  padding: 0;
}

.pmpr-list-table .cmb-row.cmb-type-title {
  margin: 0 !important;
}

.pmpr-list-table .cmb-row.cmb-type-title .cmb2-metabox-title {
  padding: 0;
}
